.icon.calyx {
  background-image: url("../../assets/images/lm-logo-calyx.png");
}

@media (prefers-color-scheme: light) {

  .navbar-toggle {
    background-image: url("../assets/nav/dm-icon-menu.png") !important;
  }

  .intro .primaryBtn {
      background-color: white;
      color: #074057;
  }

  header .btn {
    background-color: transparent;
    border: var(--border-dm);
  }

  header {
    background-color: #197CA3 !important;
  }

  header a {
    color: white !important;
  }

  .intro {
    background-color: #197CA3 !important;
  }

  .intro h1 {
    color: #074057;
  }

  .intro p {
    color: white;
  }

  .highlighter {
    background-color: #6CCAF0;
  }

}

@media (prefers-color-scheme: dark) {
  .intro {
    background-color: #22273D !important;
  }

  .intro h1 {
    color: #22273D !important;
  }

  header {
    background-color: #22273D !important;
  }

  .highlighter {
    background-color: #3CBDF0 !important;
    color: #22273D !important;
  }

}

.logoMark {
  background-image: url('../assets/nav/seedvault-logo.png') !important;
}

.intro.withImage .wrapper {
  background: no-repeat url('../assets/images/intro/seedvault.png');
}
